@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

@theme {
  --color-primary: #184cba;
  --color-secondary: #1a70c3;
  --color-tertiary: #2994bf;
  --color-dark: #141c6c;
  --color-dark-alt: #1c298b;
  --color-teal: #40b1af;
  --color-green: #84d06e;
  --color-mint: #61c194;
  --color-olive: #7aad4f;
  --color-bg: #f8fafc;
  --color-card: #ffffff;
  --color-text-main: #141c6c;
  --color-muted: #374151;
  --color-muted-light: #6b7280;
  --color-accent: #84d06e;
  --color-footer-bg: #141c6c;
  --font-family-manrope: 'Manrope', sans-serif;
}
